<body style="background-image: url('../../assets/stars.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Century Gothic';
    ">
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <h1 style="color: white;
               font-size: 5em;
               margin: 0;
               padding: 10px;
               text-align: center;
               "><strong>Galaxy Connect</strong></h1>
    <router-outlet></router-outlet>
  </div>
</body>
