<body
      style="background-image: url('https://cdn.hipwallpaper.com/i/14/45/G4pRvQ.jpg');
             background-attachment: fixed;
             background-repeat: no-repeat;
             background-size: cover;
             font-family: 'Century Gothic';
             "
      >
  <app-nav-menu></app-nav-menu>
  <div class="container">
    <h1 style="color: white;
               font-size: 5em;
               margin: 0;
               padding: 0;
               text-align: center;
               position: absolute;
               top: 8%;
               left: 39.5%;
               "
        >UPMEET</h1>
    <router-outlet></router-outlet>
  </div>
</body>
